.cell-config{
  /*max-width: 200px;*/
}

.mh-config{
  /*max-width: 1200px;*/
  max-height: 681px !important;
  overflow: auto !important;
}

.column-config{
  margin-top: -1px;
  background-color: rgb(186, 210, 217);
  font-weight: 500 !important;
  /*position: sticky;*/
  /*top: 0;*/
}

.sticky-column {
  position: sticky;
  top: 0;
}

.active-element{
  --bs-table-bg-type: #b7efc6;
}
tbody > tr:hover > * {
  background-color: #c7ced9 !important;
}

.striped-con{
  --bs-table-bg: #f5f5f5
}

.deleted-element{
  --bs-table-bg: #e7a9a9 !important;
}
