.cell-config{
  /*max-width: 200px;*/
}

.mh-config{
    max-height: 710px !important;
    overflow: auto !important;
}

.column-config{
  margin-top: -1px;
  background-color: rgb(186, 210, 217);
  font-weight: 500 !important;
  /*position: sticky;*/
  /*top: 0;*/
}

.sticky-column {
  position: sticky;
  top: 0;
}


/*mat-table {*/
/*  !*width: 100%;*!*/
/*  border: #a0a0a0 1px solid;*/
/*}*/
/*.mat-mdc-table {*/
/*  width: 100%;*/
/*  max-height: 400px;*/
/*  overflow: auto;*/
/*}*/

/*.mat-column-name {*/
/*  max-height: 100px;*/
/*}*/
/*.example-container {*/
/*  height: 700px;*/
/*  overflow: auto;*/
/*  border: #a0a0a0 1px solid;*/
/*}*/

/*.td-darker-config{*/
/*  background-color: rgb(238, 238, 238);*/
/*}*/

/*table {*/
/*  width: 100%;*/
/*}*/
/*th{*/
/*  border-bottom: #a0a0a0 1px solid;*/
/*  width: 150px;*/
/*}*/

/*.loading-spinner-config{*/
  /*display: block;*/
  /*width: 125px !important;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*margin-top: auto;*/
  /*margin-bottom: auto;*/
  /*width: 100%;*/
  /*height: 100%;*/


/*}*/

/*.ng-star-inserted{*/
  /*width: 125px !important;*/
  /*margin-left: auto !important;*/
  /*margin-right: auto !important;*/
  /*margin-top: auto !important;*/
  /*margin-bottom: auto !important;*/
  /*display: flex;*/
  /*justify-content: center;*/
/*}*/

/*d-flex align-self-center justify-content-center w-100 h-100*/
/*.mat-mdc-table-sticky {*/
/*  background: #59abfd;*/
/*  opacity: 1;*/
/*}*/


