<div *ngIf="selectedSpavochnik != null">
<!--  {{selectedSpavochnik}}-->
  <div [ngSwitch]="selectedSpavochnik">

<!--    <div *ngFor="let type of tableType">-->
<!--      <div *ngSwitchDefault>-->
<!--        <span> Что то пошло не так, таблицы нет</span>-->
<!--      </div>-->

<!--      <div *ngSwitchCase="tableType[type]">-->

<!--        <div *ngIf="isDataSourceFull()">-->
<!--          <section class="example-container mat-elevation-z8">-->
<!--            <table mat-table [dataSource]="dataTableSource">-->
<!--              <ng-container matColumnDef="{{field}}" *ngFor="let field of fieldColumnList">-->
<!--                <th mat-header-cell *matHeaderCellDef> {{field}} </th>-->
<!--                <td mat-cell *matCellDef="let element"> {{element[field]}} </td>-->
<!--              </ng-container>-->

<!--              <tr mat-header-row *matHeaderRowDef="fieldColumnList; sticky: true"></tr>-->
<!--              <tr mat-row *matRowDef="let row; columns: fieldColumnList;"></tr>-->
<!--            </table>-->
<!--          </section>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->



    <div *ngSwitchDefault>
      <span> Что то пошло не так, таблицы нет</span>
    </div>

    <div *ngSwitchCase="tableType.KOMPL">

      <div *ngIf="isDataSourceFull(); else loading_spinner">
        <section class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="dataTableSource">
            <ng-container matColumnDef="{{field}}" *ngFor="let field of fieldColumnList; index as i" [ngClass]="{'td-darker-config': i % 2 == 0 }">
              <th mat-header-cell *matHeaderCellDef> {{field}} </th>
              <td mat-cell  *matCellDef="let element"> {{element[field]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="fieldColumnList; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: fieldColumnList;"></tr>
          </table>
        </section>
      </div>

    </div>

    <div *ngSwitchCase="tableType.GRUPPA">

      <div *ngIf="isDataSourceFull(); else loading_spinner">
        <section class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="dataTableSource">
            <ng-container matColumnDef="{{field}}" *ngFor="let field of fieldColumnList">
              <th mat-header-cell *matHeaderCellDef> {{field}} </th>
              <td mat-cell *matCellDef="let element"> {{element[field]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="fieldColumnList; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: fieldColumnList;"></tr>
          </table>
        </section>
      </div>

    </div>

    <div *ngSwitchCase="tableType.MODEL">

      <div *ngIf="isDataSourceFull(); else loading_spinner">
        <section class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="dataTableSource">
            <ng-container matColumnDef="{{field}}" *ngFor="let field of fieldColumnList">
              <th mat-header-cell *matHeaderCellDef> {{field}} </th>
              <td mat-cell *matCellDef="let element"> {{element[field]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="fieldColumnList; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: fieldColumnList;"></tr>
          </table>
        </section>
      </div>

    </div>

    <div *ngSwitchCase="tableType.OBORUD_EKZ">
      <div *ngIf="isDataSourceFull(); else loading_spinner">
        <section class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="dataTableSource">
            <ng-container matColumnDef="{{field}}" *ngFor="let field of fieldColumnList">
              <th mat-header-cell *matHeaderCellDef> {{field}} </th>
              <td mat-cell *matCellDef="let element"> {{element[field]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="fieldColumnList; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: fieldColumnList;"></tr>
          </table>
        </section>
      </div>
    </div>
  </div>


  <ng-template #loading_spinner>
    <mat-spinner></mat-spinner>
  </ng-template>

</div>

