<div *ngIf="selectedSpavochnik != null && fieldColumnList.length > 0"
     class="mh-config"
     [class.mh-for-kod]="selectedSpavochnik == TableType.OBORUD_KLASS ||
                         selectedSpavochnik == TableType.OBORUD_VID ||
                         selectedSpavochnik == TableType.PODR ||
                         selectedSpavochnik == TableType.UCH" >
  <table *ngIf="isDataSourceFull()" class="table table-bordered table-responsive table-sm" >
    <thead>
    <tr class="tr-columns-config sticky-top border-top-0">
      <th class="text-nowrap column-config" *ngFor="let field of fieldColumnList">{{'TABLE.' + field.toUpperCase() | translate}}</th>
    </tr>
    </thead>
    <tbody class="">
    <tr *ngFor="let data of dataTableSource; index as i"
        (click)="onSelectElementTable(data)"
        [class.active-element]="data == selectedElement"
        [class.striped-con]="i % 2 == 0"
        [class.deleted-element]="originSourceTable == OriginSourceTable.MAIN_TABLE && !data['akt']"
        class="pointer">
        <td *ngFor="let field of fieldColumnList">
          <div *ngIf="!data[field]">
            <i class="bi bi-dash"></i>
          </div>
          <div class="cell-config" *ngIf="data[field]">
            <span *ngIf="field == 'klass' || field == 'rod' || field == 'podr' || field == 'proizv'; else fieldNotObject">{{data[field].naim}}</span>
            <ng-template #fieldNotObject>{{data[field]}}</ng-template>
          </div>
        </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!isDataSourceFull() && !(selectedSpavochnik === TableType.OBORUD_VID || selectedSpavochnik === TableType.UCH)">
  <p class="mt-3 d-flex justify-content-center text-danger border">Нет данных в таблице "{{selectedSpavochnik}}"</p>
</div>
<div *ngIf="!isDataSourceFull() && (selectedSpavochnik === TableType.OBORUD_VID || selectedSpavochnik === TableType.UCH) && !isUchNotEmptyInPodr">
  <p class="mt-3 d-flex justify-content-center text-danger border">Выберите строку элемент для отображения таблицы "{{selectedSpavochnik}}"</p>
</div>
<div *ngIf="!isDataSourceFull() && (selectedSpavochnik === TableType.UCH) && isUchNotEmptyInPodr">
  <p class="mt-3 d-flex justify-content-center text-danger border">Список участков пуст</p>
</div>

<div *ngIf="dataTableSource.length > 0 && originSourceTable != OriginSourceTable.SETTINGS_TABLE" container="body">
  <mat-paginator showFirstLastButtons
                 [pageIndex]="dataSearch.pageNumber"
                 [pageSize]="dataSearch.pageSize"
                 [length]="totalFoundedElements"
                 [pageSizeOptions]="[10, 20, 50, 100, totalFoundedElements]"
                 (page)="onClickPageChanged($event)">
  </mat-paginator>
</div>
