<div class="d-flex flex-row justify-content-between w-100">
  <div class="d-flex gap-4 ms-5">
    <button class="btn btn-success d-flex flex-row align-items-center"
            [disabled]="!selectedNavBar"
            (click)="onClickAddNewElement()">
      <i class="bi bi-file-earmark-plus-fill i-add"></i>
      &nbsp; {{ 'BUTTON.ADD'|translate }}
    </button>
    <button class="btn btn-primary d-flex flex-row align-items-center"
            [disabled]="!selectedElementTable"
            (click)="onClickEditElement()">
      <i class="bi bi-pencil-square i-edit"></i>
      &nbsp; {{ 'BUTTON.EDIT'|translate }}
    </button>
    <button class="btn btn-primary d-flex flex-row align-items-center"
            [disabled]="!selectedElementTable"
            (click)="onClickChangeActivityElement()">
      <span class = "d-flex flex-row align-items-center fix-width-act-button"
            *ngIf="selectedElementTable && selectedElementTable['akt'] == 1">
        <i class="bi bi-file-earmark-x "></i>
      &nbsp; {{ 'BUTTON.MAKE-UNACTIVE'|translate }}
      </span>
      <span class = "d-flex flex-row align-items-center fix-width-act-button"
            *ngIf="selectedElementTable && selectedElementTable['akt'] == 0">
        <i class="bi bi-file-earmark-check"></i>
      &nbsp; {{ 'BUTTON.MAKE-ACTIVE'|translate }}
      </span>
      <span class = "d-flex flex-row align-items-center"
            *ngIf="!selectedElementTable">
        <i class="bi bi-file-earmark-diff "></i>
      &nbsp; {{ 'BUTTON.CHANGE-ACTIVE'|translate }}
      </span>
    </button>
    <button class="btn btn-secondary d-flex flex-row align-items-center"
            [disabled]="!selectedElementTable"
            (click)="onClickDeleteElement()">
      <i class="bi bi-trash"></i>
      &nbsp; {{ 'BUTTON.DELETE'|translate }}
    </button>
    <button class="btn btn-primary d-flex flex-row align-items-center"
            [class.visually-hidden]="selectedNavBar != tableType.OBORUD_EKZ"
            [disabled]="true">
      <i class="bi bi-reply-all-fill i-delete"></i>
    </button>

    <button class="btn btn-primary" type="submit"
            [disabled]="true"
            (click)="onClickReport()">
      {{ 'BUTTON.REPORT'|translate }}
    </button>
  </div>

  <div class="d-flex" *ngIf="selectedNavBar != TableType.OBORUD_EKZ">
    <i class="bi bi-arrow-{{sideNavArrow}}-square-fill me-5 i-config align-self-center"
       (click)="onClickOpenSideNav()">
    </i>
  </div>
</div>
