i{
  font-size: 1.8rem;
}
/*i:hover{*/
/*  color: #404040;*/
/*  cursor: pointer;*/
/*}*/
/*.i-add{*/
/*  color: #32a800*/
/*}*/
/*.i-edit{*/
/*  color: #0032a7;*/
/*}*/
/*.i-delete{*/
/*  color: #e00013*/
/*}*/
button{
  font-size: 17px;
}

.i-config{
  font-size: 2.4rem !important;
  transition: all 210ms ease;
  color: #0d6efd;
}
.i-config:hover{
   transform: scale(1.15);
   cursor: pointer;
  color: #0627c2;
}

.i-outline{

}

.fix-width-act-button{
  width: 209px !important;
}
