<mat-drawer-container class="example-container" autosize>
  <!--  Контент внутри сайд навигации  -->
  <mat-drawer #drawer class="example-sidenav " mode="side" position="end" opened="true">
    <!--(КОМПЛЕКС)группа и модель-->
    <div class="d-flex flex-column h-100" *ngIf="selectedSpravochnik === TableType.KOMPL">
      <div class="flex-grow-1 bg-gruppa">
        <div class="d-flex justify-content-between bg-gruppa-color">
          <h2 class="fs-4">Группа</h2>
          <div class="d-flex flex-row">
            <i class="bi bi-node-plus me-3 i-add pointer"></i>
            <i class="bi bi-node-minus i-delete pointer"></i>
          </div>
        </div>
        <div class=" p-2">
          <app-table class="overflow-auto"
            [selectedSpavochnik]="TableType.GRUPPA_FROM_RELATION"
            [fieldColumnList]="gruppaRelationshipFieldColumnList"
            [dataTableSource]="gruppaRelationshipDataInput"
            [originSourceTable]="OriginSourceTable.RELATIONSHIP_TABLE"
          ></app-table>
          <div class="div-to-whitespace"></div>
        </div>
      </div>
      <div class="flex-grow-1 bg-model">
        <div class="d-flex justify-content-between bg-model-color">
        <h2 class="fs-4">Модель</h2>
        <div class="d-flex flex-row">
          <i class="bi bi-node-plus me-3 i-add pointer"></i>
          <i class="bi bi-node-minus i-delete pointer"></i>
        </div>
      </div>
        <div class="p-2">
          <div class="">
            <app-table
              [selectedSpavochnik]="TableType.MODEL_FROM_RELATION"
              [fieldColumnList]="modelRelationshipFieldColumnList"
              [dataTableSource]="modelRelationshipDataInput"
              [originSourceTable]="OriginSourceTable.RELATIONSHIP_TABLE"
            ></app-table>
          </div>
        </div>
      </div>
    </div>
    <!--(ГРУППА)комплекс и модель-->
    <div class="d-flex flex-column h-100" *ngIf="selectedSpravochnik === TableType.GRUPPA">
      <div class="flex-grow-1 bg-kompl">
        <div class="d-flex justify-content-between bg-kompl-color">
          <h2 class="fs-4">Комплекс</h2>
          <div class="d-flex flex-row">
            <i class="bi bi-node-plus me-3 i-add pointer"></i>
            <i class="bi bi-node-minus i-delete pointer"></i>
          </div>
        </div>
        <div class=" p-2">
          <app-table class="overflow-auto"
                     [selectedSpavochnik]="TableType.KOMPL_FROM_RELATION"
                     [fieldColumnList]="komplRelationshipFieldColumnList"
                     [dataTableSource]="komplRelationshipDataInput"
                     [originSourceTable]="OriginSourceTable.RELATIONSHIP_TABLE"
          ></app-table>
          <div class="div-to-whitespace"></div>
        </div>
      </div>
      <div class="flex-grow-1 bg-model">
        <div class="d-flex justify-content-between bg-model-color">
          <h2 class="fs-4">Модель</h2>
          <div class="d-flex flex-row">
            <i class="bi bi-node-plus me-3 i-add pointer"></i>
            <i class="bi bi-node-minus i-delete pointer"></i>
          </div>
        </div>
        <div class="p-2">
          <div class="">
            <app-table
              [selectedSpavochnik]="TableType.MODEL_FROM_RELATION"
              [fieldColumnList]="modelRelationshipFieldColumnList"
              [dataTableSource]="modelRelationshipDataInput"
              [originSourceTable]="OriginSourceTable.RELATIONSHIP_TABLE"
            ></app-table>
          </div>
        </div>
      </div>
    </div>
    <!--(МОДЕЛЬ)комплекс, группа и экземпляр-->
    <div class="d-flex flex-column h-100" *ngIf="selectedSpravochnik === TableType.MODEL">
      <div class="flex-grow-1 bg-kompl">
        <div class="d-flex justify-content-between bg-kompl-color">
          <h2 class="fs-4">Комплекс</h2>
          <div class="d-flex flex-row">
            <i class="bi bi-node-plus me-3 i-add pointer"></i>
            <i class="bi bi-node-minus i-delete pointer"></i>
          </div>
        </div>
        <div class=" p-2">
          <app-table class="overflow-auto"
                     [selectedSpavochnik]="TableType.KOMPL_FROM_RELATION"
                     [fieldColumnList]="komplRelationshipFieldColumnList"
                     [dataTableSource]="komplRelationshipDataInput"
                     [originSourceTable]="OriginSourceTable.RELATIONSHIP_TABLE"
          ></app-table>
          <div class="div-to-whitespace"></div>
        </div>
      </div>
      <div class="flex-grow-1 bg-gruppa">
        <div class="d-flex justify-content-between bg-gruppa-color">
          <h2 class="fs-4">Группа</h2>
          <div class="d-flex flex-row">
            <i class="bi bi-node-plus me-3 i-add pointer"></i>
            <i class="bi bi-node-minus i-delete pointer"></i>
          </div>
        </div>
        <div class=" p-2">
          <app-table class="overflow-auto"
                     [selectedSpavochnik]="TableType.GRUPPA_FROM_RELATION"
                     [fieldColumnList]="gruppaRelationshipFieldColumnList"
                     [dataTableSource]="gruppaRelationshipDataInput"
                     [originSourceTable]="OriginSourceTable.RELATIONSHIP_TABLE"
          ></app-table>
          <div class="div-to-whitespace"></div>
        </div>
      </div>
      <div class="flex-grow-1 bg-ekz">
        <div class="d-flex justify-content-between bg-ekz-color">
          <h2 class="fs-4">Экземпляры</h2>
          <div class="d-flex flex-row">
            <i class="bi bi-node-plus me-3 i-add pointer"></i>
            <i class="bi bi-node-minus i-delete pointer"></i>
          </div>
        </div>
        <div class="p-2">
          <div class="">
            <app-table
              [selectedSpavochnik]="TableType.OBORUD_EKZ_FROM_RELATION"
              [fieldColumnList]="oborudEkzRelationshipFieldColumnList"
              [dataTableSource]="oborudEkzRelationshipDataInput"
              [originSourceTable]="OriginSourceTable.RELATIONSHIP_TABLE"
            ></app-table>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>

  <!-- Контент Body  -->
  <div class="example-sidenav-content d-flex flex-column">
    <!-- Кнопки редактирования -->

    <app-general-buttons class="d-flex mt-4 mb-3"
                         (openSidenav)="drawer.toggle()"
                         (researchPage)="onReSearchPage()"
    ></app-general-buttons>

    <!-- Вкладки навигации таблиц -->
    <div class="d-flex flex-row group-tabs-config">
      <div class="tabs-config"
           (click)="onClickNavKompl()"
           [class.actived-tab]="selectedSpravochnik == tableType.KOMPL" [class.add-border-bottom]="selectedSpravochnik != tableType.KOMPL">

        {{'TITLE.KOMPL' | translate }}

      </div>
      <div class="tabs-config"
           (click)="onClickNavGruppa()"
           [class.actived-tab]="selectedSpravochnik == tableType.GRUPPA" [class.add-border-bottom]="selectedSpravochnik != tableType.GRUPPA">

        {{'TITLE.GRUPPA' | translate}}

      </div>
      <div class="tabs-config"
           (click)="onClickNavModel()"
           [class.actived-tab]="selectedSpravochnik == tableType.MODEL" [class.add-border-bottom]="selectedSpravochnik != tableType.MODEL">

        {{'TITLE.MODEL' | translate}}

      </div>
      <div class="tabs-config"
           (click)="onClickNavOborudEkz()"
           [class.actived-tab]="selectedSpravochnik == tableType.OBORUD_EKZ" [class.add-border-bottom]="selectedSpravochnik != tableType.OBORUD_EKZ">

        {{'TITLE.OBORUD_EKZ' | translate}}

      </div>
    </div>

    <!-- Основная таблица -->
    <app-table class="overflow-auto flex-column d-flex"
      [selectedSpavochnik]="selectedSpravochnik"
               [fieldColumnList]="fieldColumnList"
               [dataTableSource]="dataTableNavSource"
               [dataSearch]="dataSearch"
               [totalFoundedElements]="totalFoundedElements"
               [originSourceTable]="originSourceTable"

               (dataSearchNew)="onChangePage($event)"
    ></app-table>
  </div>
</mat-drawer-container>
