.div-1{
  width: 1000px;
  height: 950px;
  background-color: var(--color-blue);
}

.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  background-color: #ffffff;
}

.example-sidenav {
  padding: 20px;
  background-color: #c6c6c6;
  width: 800px;
}
.mat-drawer-content{
  margin-right: 500px;
}
