<mat-drawer-container class="example-container" autosize>
  <!--  Контент внутри сайд навигации  -->
  <mat-drawer #drawer  class="example-sidenav " mode="side" position="end" opened="true">
    <!--(КОМПЛЕКС)группа и модель-->
    <div class="d-flex flex-column h-100" *ngIf="selectedSpravochnik === TableType.KOMPL">
      <div class="upper-inform-div d-flex justify-content-center align-items-center">
        <span *ngIf="mainSelectedElement" class="fs-5 upper-naim">{{mainSelectedElement?.naim}}</span>
        <span *ngIf="!mainSelectedElement" class="fs-5 upper-naim">*{{"ACTION.CHOOSE-KOMPL-FOR-VIEW-INFO" | translate}}*</span>
      </div>
      <div class="d-flex flex-column flex-grow-1 bg-gruppa">
        <div class="d-flex justify-content-between bg-gruppa-color">
          <div class="d-flex flex-row">
            <h2 class="fs-4">{{"TITLE.GRUPPA" | translate}}</h2>
            <i class="bi bi-arrow-right-circle ms-2 me-3 mb-0 i-add pointer"
               [class.i-disabled]="!gruppaRelationshipSelectedElement"
               (click)="onClickGoToRelativeGruppaElement()"></i>
          </div>
          <i class="bi bi-share-fill me-3 i-add pointer"
             [class.i-disabled]="!mainSelectedElement"
             (click)="onClickOpenGruppaRelationshipDialog(TableType.KOMPL)"></i>
        </div>
        <div class=" p-1">
          <app-table class="overflow-auto"
            [selectedSpavochnik]="TableType.GRUPPA_FROM_RELATION"
            [fieldColumnList]="gruppaRelationshipFieldColumnList"
            [dataTableSource]="gruppaRelationshipDataInput"
            [originSourceTable]="OriginSourceTable.RELATIONSHIP_TABLE"
          ></app-table>
          <div class="div-to-whitespace"></div>
        </div>
      </div>
      <div class="d-flex flex-column flex-grow-1 bg-model">
        <div class="d-flex justify-content-between bg-model-color">
          <div class="d-flex flex-row">
            <h2 class="fs-4">{{"COMMON.MODEL" | translate}}</h2>
            <i class="bi bi-arrow-right-circle ms-2 me-3 mb-0 i-add pointer"
               [class.i-disabled]="!modelRelationshipSelectedElement"
               (click)="onClickGoToRelativeModelElement()"></i>
          </div>
          <i class="bi bi-share-fill me-3 i-add pointer"
             [class.i-disabled]="!mainSelectedElement"
             (click)="onClickOpenModelRelationshipDialog(TableType.KOMPL)"></i>
      </div>
        <div class="p-1">
          <div class="">
            <app-table
              [selectedSpavochnik]="TableType.MODEL_FROM_RELATION"
              [fieldColumnList]="modelRelationshipFieldColumnList"
              [dataTableSource]="modelRelationshipDataInput"
              [originSourceTable]="OriginSourceTable.RELATIONSHIP_TABLE"
            ></app-table>
          </div>
        </div>
      </div>
    </div>
    <!--(ГРУППА)комплекс и модель-->
    <div class="d-flex flex-column h-100" *ngIf="selectedSpravochnik === TableType.GRUPPA">
      <div class="upper-inform-div d-flex justify-content-center align-items-center">
        <span *ngIf="mainSelectedElement" class="fs-5 upper-naim">{{mainSelectedElement?.naim}}</span>
        <span *ngIf="!mainSelectedElement" class="fs-5 upper-naim">*{{"ACTION.CHOOSE-GRUPPA-FOR-VIEW-INFO" | translate}}*</span>
      </div>
      <div class="d-flex flex-column flex-grow-1 bg-kompl">
        <div class="d-flex justify-content-between bg-kompl-color">
          <div class="d-flex flex-row">
            <h2 class="fs-4">{{"TITLE.KOMPL" | translate}}</h2>
            <i class="bi bi-arrow-left-circle ms-2 me-3 mb-0 i-add pointer"
               [class.i-disabled]="!komplRelationshipSelectedElement"
               (click)="onClickGoToRelativeKomplElement()"></i>
          </div>
          <i class="bi bi-share-fill me-3 i-add pointer"
             [class.i-disabled]="!mainSelectedElement"
             (click)="onClickOpenKomplRelationshipDialog(TableType.GRUPPA)"></i>
        </div>
        <div class="p-1">
          <app-table class="overflow-auto"
                     [selectedSpavochnik]="TableType.KOMPL_FROM_RELATION"
                     [fieldColumnList]="komplRelationshipFieldColumnList"
                     [dataTableSource]="komplRelationshipDataInput"
                     [originSourceTable]="OriginSourceTable.RELATIONSHIP_TABLE"
          ></app-table>
          <div class="div-to-whitespace"></div>
        </div>
      </div>
      <div class="d-flex flex-column flex-grow-1 bg-model">
        <div class="d-flex justify-content-between bg-model-color">
          <div class="d-flex flex-row">
            <h2 class="fs-4">{{"COMMON.MODEL" | translate}}</h2>
            <i class="bi bi-arrow-right-circle ms-2 me-3 mb-0 i-add pointer"
               [class.i-disabled]="!modelRelationshipSelectedElement"
               (click)="onClickGoToRelativeModelElement()"></i>
          </div>
          <i class="bi bi-share-fill me-3 i-add pointer"
             [class.i-disabled]="!mainSelectedElement"
             (click)="onClickOpenModelRelationshipDialog(TableType.MODEL)"></i>

        </div>
        <div class="">
          <div class="p-1">
            <app-table
              [selectedSpavochnik]="TableType.MODEL_FROM_RELATION"
              [fieldColumnList]="modelRelationshipFieldColumnList"
              [dataTableSource]="modelRelationshipDataInput"
              [originSourceTable]="OriginSourceTable.RELATIONSHIP_TABLE"
            ></app-table>
          </div>
        </div>
      </div>
    </div>
    <!--(МОДЕЛЬ)комплекс, группа и экземпляр-->
    <div class="d-flex flex-column h-100" *ngIf="selectedSpravochnik === TableType.MODEL">
      <div class="upper-inform-div d-flex justify-content-center align-items-center">
        <span *ngIf="mainSelectedElement" class="fs-5 upper-naim">{{mainSelectedElement?.naim}}</span>
        <span *ngIf="!mainSelectedElement" class="fs-5 upper-naim">*{{"ACTION.CHOOSE-MODEL-FOR-VIEW-INFO" | translate}}*</span>
      </div>
      <div class="d-flex flex-column flex-grow-1 bg-kompl">
        <div class="d-flex justify-content-between bg-kompl-color">
          <div class="d-flex flex-row">
            <h2 class="fs-4">{{"TITLE.KOMPL" | translate}}</h2>
            <i class="bi bi-arrow-left-circle ms-2 me-3 mb-0 i-add pointer"
               [class.i-disabled]="!komplRelationshipSelectedElement"
               (click)="onClickGoToRelativeKomplElement()"></i>
          </div>
          <i class="bi bi-share-fill me-3 i-add pointer"
             [class.i-disabled]="!mainSelectedElement"
             (click)="onClickOpenKomplRelationshipDialog(TableType.MODEL)"></i>
        </div>
        <div class=" p-1">
          <app-table class="overflow-auto"
                     [selectedSpavochnik]="TableType.KOMPL_FROM_RELATION"
                     [fieldColumnList]="komplRelationshipFieldColumnList"
                     [dataTableSource]="komplRelationshipDataInput"
                     [originSourceTable]="OriginSourceTable.RELATIONSHIP_TABLE"
          ></app-table>
          <div class="div-to-whitespace"></div>
        </div>
      </div>
      <div class="d-flex flex-column flex-grow-1 bg-gruppa">
        <div class="d-flex justify-content-between bg-gruppa-color">
          <div class="d-flex flex-row">
            <h2 class="fs-4">{{"TITLE.GRUPPA" | translate}}</h2>
            <i class="bi bi-arrow-left-circle ms-2 me-3 mb-0 i-add pointer"
               [class.i-disabled]="!gruppaRelationshipSelectedElement"
               (click)="onClickGoToRelativeGruppaElement()"></i>
          </div>
            <i class="bi bi-share-fill me-3 i-add pointer"
               [class.i-disabled]="!mainSelectedElement"
               (click)="onClickOpenGruppaRelationshipDialog(TableType.MODEL)"></i>
        </div>
        <div class=" p-1">
          <app-table class="overflow-auto"
                     [selectedSpavochnik]="TableType.GRUPPA_FROM_RELATION"
                     [fieldColumnList]="gruppaRelationshipFieldColumnList"
                     [dataTableSource]="gruppaRelationshipDataInput"
                     [originSourceTable]="OriginSourceTable.RELATIONSHIP_TABLE"
          ></app-table>
          <div class="div-to-whitespace"></div>
        </div>
      </div>
      <div class="d-flex flex-column flex-grow-1 bg-ekz">
        <div class="d-flex justify-content-between bg-ekz-color">
          <h2 class="fs-4">{{"COMMON.EKZS" | translate}}</h2>
          <div class="d-flex flex-row">
            <i class="bi bi-gear-fill me-3 i-add pointer"
               [class.i-disabled]="!oborudEkzRelationshipSelectedElement"
               (click)="onClickOpenOborudEkzDialog()"></i>
          </div>
        </div>
        <div class="p-2">
          <div class="">
            <app-table
              [selectedSpavochnik]="TableType.OBORUD_EKZ_FROM_RELATION"
              [fieldColumnList]="oborudEkzRelationshipFieldColumnList"
              [dataTableSource]="oborudEkzRelationshipDataInput"
              [originSourceTable]="OriginSourceTable.RELATIONSHIP_TABLE"
            ></app-table>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>

  <!-- Контент Body  -->
  <div class="example-sidenav-content d-flex flex-column">
    <!-- Кнопки редактирования -->
    <app-general-buttons class="d-flex mt-4 mb-3"
                         (openSidenav)="drawer.toggle()"
                         (researchPage)="onReSearchPage()"
                         (researchPageAndMainSelectToNull)="onReSearchAndMainSelectToNull()"
                         (goToRelativeModelElement)="onClickGoToRelativeModelElement($event)"
    ></app-general-buttons>

    <!-- Фильтр -->
    <app-filter
      [searchKompl]="komplSearch"
      [searchGruppa]="gruppaSearch"
      [searchModel]="modelSearch"
      [searchOborudEkz]="oborudEkzSearch"
      [selectedSpravochnik]="selectedSpravochnik"

      (newSearch)="onChangePage($event)"
    ></app-filter>

    <!-- Вкладки навигации таблиц -->
    <div class="d-flex flex-row group-tabs-config">
      <div class="tabs-config bg-kompl-color"
           (click)="onClickNavKompl()"
           [class.actived-tab]="selectedSpravochnik == tableType.KOMPL" [class.add-border-bottom]="selectedSpravochnik != tableType.KOMPL">

        {{'TITLE.KOMPL' | translate }}

      </div>
      <div class="tabs-config bg-gruppa-color"
           (click)="onClickNavGruppa()"
           [class.actived-tab]="selectedSpravochnik == tableType.GRUPPA" [class.add-border-bottom]="selectedSpravochnik != tableType.GRUPPA">

        {{'TITLE.GRUPPA' | translate}}

      </div>
      <div class="tabs-config bg-model-color"
           (click)="onClickNavModel()"
           [class.actived-tab]="selectedSpravochnik == tableType.MODEL" [class.add-border-bottom]="selectedSpravochnik != tableType.MODEL">

        {{'TITLE.MODEL' | translate}}

      </div>
      <div class="tabs-config bg-ekz-color"
           (click)="onClickNavOborudEkz()"
           [class.actived-tab]="selectedSpravochnik == tableType.OBORUD_EKZ" [class.add-border-bottom]="selectedSpravochnik != tableType.OBORUD_EKZ">

        {{'TITLE.OBORUD_EKZ' | translate}}

      </div>
    </div>

    <!-- Основная таблица -->
    <app-table class="overflow-auto flex-column d-flex"
      [selectedSpavochnik]="selectedSpravochnik"
               [fieldColumnList]="fieldColumnList"
               [dataTableSource]="dataTableNavSource"
               [dataSearch]="dataSearch"
               [totalFoundedElements]="totalFoundedElements"
               [originSourceTable]="originSourceTable"
               [selectedElement]="mainSelectedElement"

               (dataSearchNew)="onChangePage($event)"
               (chosenForViewObj)="onOpenElementForView($event)"
    ></app-table>
  </div>
</mat-drawer-container>
