<div class="modal-header d-flex justify-content-center">
  <h1 class="m-0 text-center ">{{"TITLE.JOIN-KOMPL-IN" | translate}} {{selectedSourceSpravochnik}}</h1>
</div>
<div class="modal-body d-flex flex-column ">
  <div class="border border-dark mb-2 gruppa-upper-div-c">
    <div class="div-for-title div-for-title-bg-joined">
      {{"TITLE.CURRENT-JOINED-LIST-KOMPL" | translate}}:
    </div>
    <app-table class="overflow-auto flex-column d-flex"
               [fieldColumnList]="komplJoinedFieldColumnList"
               [dataTableSource]="joinedKomplList"
               [selectedSpavochnik]="selectedSourceSpravochnik"
               [originSourceTable]="OriginSourceTable.PRE_RELATION_TABLE"
    >
    </app-table>
  </div>
  <div class="border border-dark gruppa-lower-div-c">
    <div class="div-for-title div-for-title-bg-all">
      {{"TITLE.ALL-KOMPL" | translate}}:
    </div>
    <app-filter class="w-100 mt-2"
                [searchKompl]="komplSearch"
                [selectedSpravochnik]="TableType.KOMPL"
                [isCollapsed]="false"

                (newSearch)="onChangePage($event)"
    ></app-filter>
    <app-table class="overflow-auto flex-column d-flex"
               [selectedSpavochnik]="selectedSourceSpravochnik"
               [fieldColumnList]="komplPreSelectedFieldColumnList"
               [dataTableSource]="komplForJoinedMap"
               [totalFoundedElements]="komplTotalElements"
               [dataSearch]="komplSearch"
               [originSourceTable]="OriginSourceTable.RELATION_SETTINGS"

               (dataSearchNew)="onChangePage($event)"
               (chosenElementObj)="toChooseElementFromSettings($event)"
    >
    </app-table>
  </div>
</div>

<div class="modal-footer ">
  <button type="button"
          class="btn btn-primary"
          (click)="onClickSave()"
  >{{"BUTTON.SAVE" | translate}}</button>
  <button type="button"
          class="btn btn-secondary"
          (click)="onClickCloseModal()"
  >{{"BUTTON.CANCEL" | translate}}</button>
</div>
