<div class="modal-header d-flex justify-content-center">
  <h1 class="m-0 text-center">Новости справочника оборудования</h1>
</div>

<div class="modal-body d-flex flex-column align-items-center">
  <p class="fs-6 text-break">Тут будут новости</p>
</div>

<div class="modal-footer justify-content-end">
<!--  <button *ngIf="buttonConfirm"-->
<!--          type="button"-->
<!--          class="btn btn-primary"-->
<!--          (click)="onClickConfirm()">{{"BUTTON.ACCEPT" | translate}}</button>-->
  <button type="button"
          class="btn btn-secondary"
          (click)="onClickCancel()">{{"BUTTON.CLOSE" | translate}}</button>
</div>
