.text-title-current-version-config {
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
}

.text-old-version-config {
  color: tomato;
}
.text-new-version-config {
  color: #09a100;
}
.is-first-time-opened{
  border-top: 2px #c9f8bd solid;

  background: linear-gradient(0deg, rgba(127,232,97,0) 5%, rgba(147,249,118,0.13769257703081228) 100%);
}
