<div class="modal-header justify-content-center d-flex modal-header-config">
  <h2 class="m-0 text-center text-white">{{"TITLE.SETTINGS" | translate}}</h2>
</div>

<div class="modal-body d-flex modal-body-config">
  <nav class="nav-pills flex-column text-nowrap"
       orientation="vertical"
       ngbNav
       #navBar="ngbNav">
    <!-- // Код и вид обрудования-->
    <ng-container ngbNavItem>
      <a ngbNavLink
         (click)="onClickSearchKlassOborud()">{{"TITLE.KOD-AND-VID-OBORUD" | translate}}</a>
      <ng-template ngbNavContent>
        <div class="line-title">{{"COMMON.KOD-OBORUD" | translate}}</div>
        <div class="d-flex justify-content-between">
          <div class="d-flex gap-2">
            <button class="btn btn-sm btn-success mb-1"
                    (click)="onClickActionKlassOborud(ActionMode.CREATE)"
                    [disabled]="currentRole == UserRole.VIEW"
            >
              <i class="bi bi-plus-square"></i> {{"ACTION.CREATE-KOD-OBORUD" | translate}}
            </button>
            <button class="btn btn-sm btn-primary mb-1"
                    (click)="onClickActionKlassOborud(ActionMode.EDIT)"
                    [disabled]="!klassSelectedElement || currentRole == UserRole.VIEW">
              <i class="bi bi-sliders2"></i> {{"ACTION.EDIT-KOD-OBORUD" | translate}}
            </button>
          </div>
          <button class="btn btn-sm btn-secondary mb-1"
                  (click)="onClickActionKlassOborud(ActionMode.DELETE)"
                  [disabled]="!klassSelectedElement || currentRole == UserRole.VIEW">
            <i class="bi bi-x-octagon"></i> {{"ACTION.DELETE-KOD-OBORUD" | translate}}
          </button>
        </div>

        <app-table
          [fieldColumnList]="klassFieldColumnList"
          [dataTableSource]="klassDataTableInput"
          [dataSearch]="klassSearch"
          [totalFoundedElements]="klassTotalFoundedElements"
          [originSourceTable]="OriginSourceTable.SETTINGS_TABLE"
          [selectedSpavochnik]="TableType.OBORUD_KLASS"
          [selectedElement]="klassSelectedElement"

          (dataSearchNew)="onChangePageKlassOborud($event)"
        ></app-table>
        <div class="line-title border-bottom-c">{{"COMMON.VID-OBORUD" | translate}}</div>
        <div class="d-flex justify-content-between">
          <div class="d-flex gap-2">
            <button class="btn btn-sm btn-success mb-1"
                    (click)="onClickActionVidOborud(ActionMode.CREATE)"
                    [disabled]="!klassSelectedElement || currentRole == UserRole.VIEW">
              <i class="bi bi-plus-square"></i> {{"ACTION.CREATE-VID-OBORUD" | translate}}
            </button>
            <button class="btn btn-sm btn-primary mb-1"
                    (click)="onClickActionVidOborud(ActionMode.EDIT)"
                    [disabled]="!vidSelectedElement || currentRole == UserRole.VIEW">
              <i class="bi bi-sliders2"></i> {{"ACTION.EDIT-VID-OBORUD" | translate}}
            </button>
          </div>

          <button class="btn btn-sm btn-secondary mb-1"
                  (click)="onClickActionVidOborud(ActionMode.DELETE)"
                  [disabled]="!vidSelectedElement || currentRole == UserRole.VIEW">
            <i class="bi bi-x-octagon"></i> {{"ACTION.DELETE-VID-OBORUD" | translate}}
          </button>
        </div>
        <app-table
          [fieldColumnList]="vidFieldColumnList"
          [dataTableSource]="vidDataTableInput"
          [dataSearch]="vidSearch"
          [totalFoundedElements]="vidTotalFoundedElements"
          [originSourceTable]="OriginSourceTable.SETTINGS_TABLE"
          [selectedSpavochnik]="TableType.OBORUD_VID"
          [selectedElement]="vidSelectedElement"
        ></app-table>
      </ng-template>
    </ng-container>
    <!-- // Наличие ПУ-->
    <ng-container ngbNavItem>
      <a ngbNavLink
         (click)="onClickSearchNalPu()">{{"TITLE.NAL-PU" | translate}}</a>
      <ng-template ngbNavContent>
        <div class="d-flex justify-content-between">
          <div class="d-flex gap-2">
            <button class="btn btn-sm btn-success mb-1"
                    (click)="onClickActionNalPu(ActionMode.CREATE)"
                    [disabled]="currentRole == UserRole.VIEW"
            >
              <i class="bi bi-plus-square"></i> {{"ACTION.CREATE-NAL-PU" | translate}}
            </button>
            <button class="btn btn-sm btn-primary mb-1"
                    (click)="onClickActionNalPu(ActionMode.EDIT)"
                    [disabled]="!nalPuSelectedElement || currentRole == UserRole.VIEW">
              <i class="bi bi-sliders2"></i> {{"ACTION.EDIT-NAL-PU" | translate}}
            </button>
          </div>
          <button class="btn btn-sm btn-secondary mb-1"
                  (click)="onClickActionNalPu(ActionMode.DELETE)"
                  [disabled]="!nalPuSelectedElement || currentRole == UserRole.VIEW">
            <i class="bi bi-x-octagon"></i> {{"ACTION.DELETE-NAL-PU" | translate}}
          </button>
        </div>
        <app-table
          [fieldColumnList]="nalPuFieldColumnList"
          [dataTableSource]="nalPuDataTableInput"
          [dataSearch]="nalPuSearch"
          [totalFoundedElements]="nalPuTotalFoundedElements"
          [originSourceTable]="OriginSourceTable.SETTINGS_TABLE"
          [selectedSpavochnik]="TableType.NAL_PU"
          [selectedElement]="nalPuSelectedElement"

          (dataSearchNew)="onChangePageNalPu($event)"
        ></app-table>
      </ng-template>
    </ng-container>
    <!--// Габариты ЗО-->
    <ng-container ngbNavItem>
      <a ngbNavLink
         (click)="onClickSearchGabZo()">{{"TITLE.GAB-ZO" | translate}}</a>
      <ng-template ngbNavContent>
        <div class="d-flex justify-content-between">
          <div class="d-flex gap-2">
            <button class="btn btn-sm btn-success mb-1"
                    (click)="onClickActionGabZo(ActionMode.CREATE)"
                    [disabled]="currentRole == UserRole.VIEW">
              <i class="bi bi-plus-square"></i> {{"ACTION.CREATE-GAB-ZO" | translate}}
            </button>
            <button class="btn btn-sm btn-primary mb-1"
                    (click)="onClickActionGabZo(ActionMode.EDIT)"
                    [disabled]="!gabZoSelectedElement || currentRole == UserRole.VIEW">
              <i class="bi bi-sliders2"></i> {{"ACTION.EDIT-GAB-ZO" | translate}}
            </button>
          </div>
          <button class="btn btn-sm btn-secondary mb-1"
                  (click)="onClickActionGabZo(ActionMode.DELETE)"
                  [disabled]="!gabZoSelectedElement || currentRole == UserRole.VIEW">
            <i class="bi bi-x-octagon"></i> {{"ACTION.DELETE-GAB-ZO" | translate}}
          </button>
        </div>
        <app-table
          [fieldColumnList]="gabZoFieldColumnList"
          [dataTableSource]="gabZoDataTableInput"
          [dataSearch]="gabZoSearch"
          [totalFoundedElements]="gabZoTotalFoundedElements"
          [originSourceTable]="OriginSourceTable.SETTINGS_TABLE"
          [selectedSpavochnik]="TableType.GAB_ZO"
          [selectedElement]="gabZoSelectedElement"

          (dataSearchNew)="onChangePageGabZo($event)"
        ></app-table>
      </ng-template>
    </ng-container>
    <!--// Производитель-->
    <ng-container ngbNavItem>
      <a ngbNavLink (click)="onClickSearchProizv()">{{"TITLE.PROIZVS" | translate}}</a>
      <ng-template ngbNavContent class="d-flex flex-column">
        <div class="d-flex justify-content-between">
          <div class="d-flex gap-2">
            <button class="btn btn-sm btn-success mb-1"
                    (click)="onClickActionProizv(ActionMode.CREATE)"
                    [disabled]="currentRole == UserRole.VIEW">
              <i class="bi bi-plus-square"></i> {{"ACTION.CREATE-PROIZV" | translate}}
            </button>
            <button class="btn btn-sm btn-primary mb-1"
                    (click)="onClickActionProizv(ActionMode.EDIT)"
                    [disabled]="!proizvSelectedElement || currentRole == UserRole.VIEW">
              <i class="bi bi-sliders2"></i> {{"ACTION.EDIT-PROIZV" | translate}}
            </button>
          </div>
          <button class="btn btn-sm btn-secondary mb-1"
                  (click)="onClickActionProizv(ActionMode.DELETE)"
                  [disabled]="!proizvSelectedElement || currentRole == UserRole.VIEW">
            <i class="bi bi-x-octagon"></i> {{"ACTION.DELETE-PROIZV" | translate}}
          </button>
        </div>
        <app-table class="d-flex flex-column overflow-auto"
          [fieldColumnList]="proizvFieldColumnList"
          [dataTableSource]="proizvDataTableInput"
          [dataSearch]="proizvSearch"
          [totalFoundedElements]="proizvTotalFoundedElements"
          [originSourceTable]="OriginSourceTable.SETTINGS_TABLE"
          [selectedSpavochnik]="TableType.PROIZV"
          [selectedElement]="proizvSelectedElement"

          (dataSearchNew)="onChangePageProizv($event)"
        ></app-table>
      </ng-template>
    </ng-container>
    <!--// Подразделение и вид-->
    <ng-container ngbNavItem>
      <a ngbNavLink (click)="onClickSearchPodr()">{{"TITLE.PODRS-AND-UCHS" | translate}}</a>
      <ng-template ngbNavContent>
        <div class="line-title">{{"TITLE.PODRS" | translate}}</div>
        <div class="d-flex justify-content-between">
          <div class="d-flex gap-2">
            <button class="btn btn-sm btn-success mb-1"
                    (click)="onClickActionPodr(ActionMode.CREATE)"
                    [disabled]="currentRole == UserRole.VIEW">
              <i class="bi bi-plus-square"></i> {{"ACTION.CREATE-PODR" | translate}}
            </button>
            <button class="btn btn-sm btn-primary mb-1"
                    (click)="onClickActionPodr(ActionMode.EDIT)"
                    [disabled]="!podrSelectedElement || currentRole == UserRole.VIEW">
              <i class="bi bi-sliders2"></i> {{"ACTION.EDIT-PODR" | translate}}
            </button>
          </div>
          <button class="btn btn-sm btn-secondary mb-1"
                  (click)="onClickActionPodr(ActionMode.DELETE)"
                  [disabled]="!podrSelectedElement || currentRole == UserRole.VIEW">
            <i class="bi bi-x-octagon"></i> {{"ACTION.DELETE-PODR" | translate}}
          </button>
        </div>
        <app-table
          [fieldColumnList]="podrFieldColumnList"
          [dataTableSource]="podrDataTableInput"
          [dataSearch]="podrSearch"
          [totalFoundedElements]="podrTotalFoundedElements"
          [originSourceTable]="OriginSourceTable.SETTINGS_TABLE"
          [selectedSpavochnik]="TableType.PODR"
          [selectedElement]="podrSelectedElement"

          (dataSearchNew)="onChangePagePodr($event)"
        ></app-table>
        <div class="line-title">{{"TITLE.UCHS" | translate}}</div>
        <div class="d-flex justify-content-between">
          <div class="d-flex gap-2">
            <button class="btn btn-sm btn-success mb-1"
                    (click)="onClickActionUch(ActionMode.CREATE)"
                    [disabled]="!podrSelectedElement || currentRole == UserRole.VIEW">
              <i class="bi bi-plus-square"></i> {{"ACTION.CREATE-UCH" | translate}}
            </button>
            <button class="btn btn-sm btn-primary mb-1"
                    (click)="onClickActionUch(ActionMode.EDIT)"
                    [disabled]="!uchSelectedElement || currentRole == UserRole.VIEW">
              <i class="bi bi-sliders2"></i> {{"ACTION.EDIT-UCH" | translate}}
            </button>
          </div>
          <button class="btn btn-sm btn-secondary mb-1"
                  (click)="onClickActionUch(ActionMode.DELETE)"
                  [disabled]="!uchSelectedElement || currentRole == UserRole.VIEW">
            <i class="bi bi-x-octagon"></i> {{"ACTION.DELETE-UCH" | translate}}
          </button>
        </div>
        <app-table
          [fieldColumnList]="uchFieldColumnList"
          [dataTableSource]="uchDataTableInput"
          [dataSearch]="uchSearch"
          [totalFoundedElements]="uchTotalFoundedElements"
          [originSourceTable]="OriginSourceTable.SETTINGS_TABLE"
          [selectedSpavochnik]="TableType.UCH"
          [isUchNotEmptyInPodr]="isUchNotEmptyInPodr"
          [selectedElement]="uchSelectedElement"
        >
        </app-table>
      </ng-template>
    </ng-container>
  </nav>
  <div class="ms-2 p-1 border border-dark bg-light overflow-auto d-flex w-100" [ngbNavOutlet]="navBar"></div>
</div>

<div class="modal-footer ">
  <button type="button"
          class="btn btn-secondary"
          (click)="onClickCloseModal()">{{"BUTTON.CLOSE" | translate}}</button>
</div>
