<div ngbAccordion class="accordion-c">
  <div ngbAccordionItem [collapsed]="isCollapsed">
    <h2 ngbAccordionHeader class="m-0"
        ngbTooltip="{{'HINT.FILTER' | translate }}"
        [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"
        [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP">
      <button ngbAccordionButton>{{'TITLE.FILTER' | translate}}
        <span *ngIf="isFilterNotEmpty()" class="ms-auto me-auto text-danger fw-bold">{{'WARNING.FILTER-SET' | translate}}</span>
      </button>
    </h2>
<!--    <h2 *ngIf="isFiltered()"></h2>-->
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <!--ФИЛЬТР КОМПЛЕКС-->
          <form [formGroup]="fgKomplFilter"
                *ngIf="selectedSpravochnik === TableType.KOMPL"
               class="d-flex flex-row gap-2">
            <div class="d-flex flex-grow-1 ">
              <div class="flex-grow-1">
                <label class="form-label" for="kod">{{'TABLE.KOD' | translate}}</label>
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         id="kod"
                         autocomplete="off"
                         formControlName="kod"
                  >
                  <button class="btn btn-light border-light-subtle"
                          (click)="fgKomplFilter.controls['kod'].setValue(null)">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex flex-grow-1 ">
              <div class="flex-grow-1">
                <label class="form-label" for="naim">{{'TABLE.NAIM' | translate}}</label>
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         id="naim"
                         autocomplete="off"
                         formControlName="naim"
                  >
                  <button class="btn btn-light border-light-subtle"
                          (click)="fgKomplFilter.controls['naim'].setValue(null)">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </div>
              </div>
            </div>

            <div #tooltip5 class="btn-akt-w">
              <label for="akt" class="form-label">{{'TABLE.ACT' | translate}}</label>
              <select id="akt"
                      class="form-select flex-grow-1"
                      (change)="changeAktSelect($event)"
                      ngbTooltip="{{'HINT.FILTER-CHANGE-ACT' | translate }}"
                      [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"
                      [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP"
                      [positionTarget]="tooltip5">
                <option *ngFor="let akt of aktMap | keyvalue"
                        [selected]="akt.value">
                  {{akt.key}}
                </option>
              </select>
            </div>

<!--            <div class="d-flex flex-column btn-akt-w" #tooltip1>-->
<!--              <label class="form-label" for="akt">{{'TABLE.ACT' | translate}}</label>-->
<!--              <button id="akt"-->
<!--                      class="btn btn-primary"-->
<!--                      ngbTooltip="{{'HINT.FILTER-CHANGE-ACT' | translate }}"-->
<!--                      [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"-->
<!--                      [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP"-->
<!--                      [positionTarget]="tooltip1"-->
<!--                      (click)="onClickChangeAct()">-->
<!--                <span *ngIf="searchKompl?.akt == null">{{"COMMON.ALL" | translate}}</span>-->
<!--                <span *ngIf="searchKompl?.akt != null">{{'BUTTON.' + searchKompl.akt.toString() | translate}}</span>-->
<!--              </button>-->
<!--            </div>-->
            <div class="d-flex flex-column justify-content-end btn-akt-w">
              <button id="clear" class="btn btn-warning"
                      ngbTooltip="{{'HINT.FILTER-CLEAR' | translate }}"
                      [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"
                      [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP"
                      (click)="onClickClearAll()">
                <span>{{'TABLE.CLEAR'| translate}}</span>
              </button>
            </div>
          </form>
<!--          ФИЛЬТР ГРУППА-->
          <form [formGroup]="fgGruppaFilter"
            *ngIf="selectedSpravochnik === TableType.GRUPPA"
               class="d-flex flex-row gap-2">
            <div class="d-flex flex-grow-1 ">
              <div class="flex-grow-1">
                <label class="form-label" for="kod">{{'TABLE.KOD' | translate}}</label>
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         id="kod"
                         autocomplete="off"
                         formControlName="kod"
                         >
                  <button class="btn btn-light border-light-subtle"
                          (click)="fgGruppaFilter.controls['kod'].setValue(null)">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex flex-grow-1 ">
              <div class="flex-grow-1">
                <label class="form-label" for="naim">{{'TABLE.NAIM' | translate}}</label>
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         id="naim"
                         autocomplete="off"
                         formControlName="naim"
                  >
                  <button class="btn btn-light border-light-subtle"
                          (click)="fgGruppaFilter.controls['naim'].setValue(null)">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex flex-grow-1 ">
              <div class="flex-grow-1">
                <label class="form-label" for="kodKlass">{{'TABLE.KODKLASS' | translate}}</label>
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         id="kodKlass"
                         autocomplete="off"
                         formControlName="kodKlass"
                  >
                  <button class="btn btn-light border-light-subtle"
                          (click)="fgGruppaFilter.controls['kodKlass'].setValue(null)">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </div>
              </div>
            </div>

            <div #tooltip5 class="btn-akt-w">
              <label for="akt" class="form-label">{{'TABLE.ACT' | translate}}</label>
              <select id="akt"
                      class="form-select flex-grow-1"
                      (change)="changeAktSelect($event)"
                      ngbTooltip="{{'HINT.FILTER-CHANGE-ACT' | translate }}"
                      [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"
                      [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP"
                      [positionTarget]="tooltip5">
                <option *ngFor="let akt of aktMap | keyvalue"
                        [selected]="akt.value">
                  {{akt.key}}
                </option>
              </select>
            </div>

<!--            <div class="d-flex flex-column btn-akt-w" #tooltip3>-->
<!--              <label class="form-label" for="akt">{{'TABLE.ACT' | translate}}</label>-->
<!--              <button id="akt"-->
<!--                      class="btn btn-primary"-->
<!--                      ngbTooltip="{{'HINT.FILTER-CHANGE-ACT' | translate }}"-->
<!--                      [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"-->
<!--                      [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP"-->
<!--                      [positionTarget]="tooltip3"-->
<!--                      (click)="onClickChangeAct()">-->
<!--                <span *ngIf="searchGruppa?.akt == null">{{"COMMON.ALL" | translate}}</span>-->
<!--                <span *ngIf="searchGruppa?.akt != null">{{'BUTTON.' + searchGruppa.akt.toString() | translate}}</span>-->
<!--              </button>-->
<!--            </div>-->
            <div class="d-flex flex-column justify-content-end btn-akt-w">
              <button id="clear"
                      class="btn btn-warning"
                      ngbTooltip="{{'HINT.FILTER-CLEAR' | translate }}"
                      [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"
                      [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP"
                      (click)="onClickClearAll()">
                <span>{{'TABLE.CLEAR'| translate}}</span>
              </button>
            </div>
          </form>
          <!--ФИЛЬТР МОДЕЛЬ-->
          <form [formGroup]="fgModelFilter"
            *ngIf="selectedSpravochnik === TableType.MODEL"
               class="d-flex flex-row gap-2">
            <div class="d-flex flex-grow-1 ">
              <div class="flex-grow-1">
                <label class="form-label" for="kod">{{'TABLE.KOD' | translate}}</label>
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         id="kod"
                         autocomplete="off"
                         formControlName="kod"
                  >
                  <button class="btn btn-light border-light-subtle"
                          (click)="fgModelFilter.controls['kod'].setValue(null)">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex flex-grow-1 ">
              <div class="flex-grow-1">
                <label class="form-label" for="naim1">{{'TABLE.NAIM' | translate}}</label>
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         id="naim1"
                         autocomplete="off"
                         formControlName="naim"
                  >
                  <button class="btn btn-light border-light-subtle"
                          (click)="fgModelFilter.controls['naim'].setValue(null)">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex flex-grow-1 ">
              <div class="flex-grow-1">
                <label class="form-label" for="obozn">{{'TABLE.OBOZN' | translate}}</label>
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         id="obozn"
                         autocomplete="off"
                         formControlName="obozn"
                  >
                  <button class="btn btn-light border-light-subtle"
                          (click)="fgModelFilter.controls['obozn'].setValue(null)">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </div>
              </div>
            </div>

            <div #tooltip5 class="btn-akt-w">
              <label for="akt" class="form-label">{{'TABLE.ACT' | translate}}</label>
              <select id="akt"
                      class="form-select flex-grow-1"
                      (change)="changeAktSelect($event)"
                      ngbTooltip="{{'HINT.FILTER-CHANGE-ACT' | translate }}"
                      [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"
                      [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP"
                      [positionTarget]="tooltip5">
                <option *ngFor="let akt of aktMap | keyvalue"
                        [selected]="akt.value">
                  {{akt.key}}
                </option>
              </select>
            </div>

<!--            <div class="d-flex flex-column btn-akt-w" #tooltip4>-->
<!--              <label class="form-label" for="akt">{{'TABLE.ACT' | translate}}</label>-->
<!--              <button id="akt"-->
<!--                      class="btn btn-primary"-->
<!--                      (click)="onClickChangeAct()"-->
<!--                      ngbTooltip="{{'HINT.FILTER-CHANGE-ACT' | translate }}"-->
<!--                      [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"-->
<!--                      [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP"-->
<!--                      [positionTarget]="tooltip4">-->
<!--                <span *ngIf="searchModel?.akt == null">{{"COMMON.ALL" | translate}}</span>-->
<!--                <span *ngIf="searchModel?.akt != null">{{'BUTTON.' + searchModel.akt.toString() | translate}}</span>-->
<!--              </button>-->
<!--            </div>-->
            <div class="d-flex flex-column justify-content-end btn-akt-w">
              <button id="clear"
                      class="btn btn-warning"
                      ngbTooltip="{{'HINT.FILTER-CLEAR' | translate }}"
                      [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"
                      [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP"
                      (click)="onClickClearAll()">
                <span>{{'TABLE.CLEAR'| translate}}</span>
              </button>
            </div>
          </form>
          <!--ФИЛЬТР ЭКЗЕМПЛЯР ОБОРУДОВАНИЯ-->
          <form [formGroup]="fgOborudEkzFilter"
                *ngIf="selectedSpravochnik === TableType.OBORUD_EKZ"
               class="d-flex flex-row gap-2">
            <div class="d-flex flex-grow-1 ">
              <div class="flex-grow-1">
                <label class="form-label" for="naim">{{'TABLE.NAIM' | translate}}</label>
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         id="naim"
                         autocomplete="off"
                         formControlName="naim"
                  >
                  <button class="btn btn-light border-light-subtle"
                          (click)="fgOborudEkzFilter.controls['naim'].setValue(null)">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex flex-grow-1 ">
              <div class="flex-grow-1">
                <label class="form-label" for="serNom">{{'TABLE.SERNOM' | translate}}</label>
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         id="serNom"
                         autocomplete="off"
                         formControlName="serNom"
                  >
                  <button class="btn btn-light border-light-subtle"
                          (click)="fgOborudEkzFilter.controls['serNom'].setValue(null)">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex flex-grow-1 ">
              <div class="flex-grow-1">
                <label class="form-label" for="invNom">{{'TABLE.INVNOM' | translate}}</label>
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         id="invNom"
                         autocomplete="off"
                         formControlName="invNom"
                  >
                  <button class="btn btn-light border-light-subtle"
                          (click)="fgOborudEkzFilter.controls['invNom'].setValue(null)">
                    <i class="bi bi-x-lg"></i>
                  </button>
                </div>
              </div>
            </div>

            <div #tooltip5 class="btn-akt-w">
              <label for="akt" class="form-label">{{'TABLE.ACT' | translate}}</label>
              <select id="akt"
                      class="form-select flex-grow-1"
                      (change)="changeAktSelect($event)"
                      ngbTooltip="{{'HINT.FILTER-CHANGE-ACT' | translate }}"
                      [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"
                      [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP"
                      [positionTarget]="tooltip5">
                <option *ngFor="let akt of aktMap | keyvalue"
                        [selected]="akt.value">
                  {{akt.key}}
                </option>
              </select>
            </div>

<!--            <div class="d-flex flex-column btn-akt-w" #tooltip5>-->
<!--              <label class="form-label" for="akt">{{'TABLE.ACT' | translate}}</label>-->
<!--              <button id="akt"-->
<!--                      class="btn btn-primary"-->
<!--                      (click)="onClickChangeAct()"-->
<!--                      ngbTooltip="{{'HINT.FILTER-CHANGE-ACT' | translate }}"-->
<!--                      [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"-->
<!--                      [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP"-->
<!--                      [positionTarget]="tooltip5">-->
<!--                <span *ngIf="searchOborudEkz?.akt == null">{{"COMMON.ALL" | translate}}</span>-->
<!--                <span *ngIf="searchOborudEkz?.akt != null">{{'BUTTON.' + searchOborudEkz.akt.toString() | translate}}</span>-->
<!--              </button>-->
<!--            </div>-->


            <div class="d-flex flex-column justify-content-end btn-akt-w">
              <button id="clear"
                      class="btn btn-warning"
                      ngbTooltip="{{'HINT.FILTER-CLEAR' | translate }}"
                      [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"
                      [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP"
                      (click)="onClickClearAll()">
                <span>{{'TABLE.CLEAR'| translate}}</span>
              </button>
            </div>
          </form>
        </ng-template>
      </div>
    </div>
  </div>
</div>
