.header-config{
  display: flex;
  height: 2.4rem;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  /*background-color: var(--color-header-footer);*/
  /*background: rgb(46, 202, 217);  !*!* fallback for old browsers *!*!*/
  border: 1px solid black;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
}

.footer-config{
  display: flex;
  flex-direction: row;
  height: 24px;
  align-items: center;
  /*background: #3f51b5;  !*!* fallback for old browsers *!*!*/
  border: 1px solid black;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
  color: var(--color-white);
  background-color: var(--color-header-footer);
}

.body-config{
  /*background-color: var(--color-white);*/
}
