<div class="modal-header d-flex justify-content-center">
  <h2 class="m-0 text-center"
      *ngIf="dialogMode == DialogMode.DELETE">
    {{"WARNING.ARE-YOU-SURE" | translate}}
    <span class="text-danger-delete">{{"COMMON.DELETE" | translate}}</span>
    {{"TABLE.ELEMENT-FROM-TABLE" | translate}} "{{selectedNavBar}}"?
  </h2>
  <h2 class="m-0 text-center"
      *ngIf="dialogMode == DialogMode.CHANGE_ACTIVITY">
    <span *ngIf="selectedElement['akt'] == 0">
      {{"WARNING.ARE-YOU-SURE-TO-DO" | translate}}
      <span class="text-to-do-akt text-decoration-underline">
      {{"OTHER.AKTIVNIM" | translate}}</span>
      {{"TABLE.ELEMENT-FROM-TABLE" | translate}} "{{selectedNavBar}}"?</span>
    <span *ngIf="selectedElement['akt'] == 1">
      {{"WARNING.ARE-YOU-SURE-TO-DO" | translate}}
      <span class="text-warning text-decoration-underline">
        {{"OTHER.UNAKTIVNIM" | translate}}</span>
      {{"TABLE.ELEMENT-FROM-TABLE" | translate}} "{{selectedNavBar}}"?</span>
  </h2>
</div>

<div class="modal-body d-flex flex-column">
  <h4><span class="fw-bolder">{{"COMMON.ID" | translate}}:</span> {{selectedElement['id']}}</h4>
  <h4><span class="fw-bolder">{{"COMMON.NAIM" | translate}}:</span> {{selectedElement['naim']}}</h4>
  <span class="text-danger" *ngIf="isKlassNotEmpty && selectedNavBar === TableType.OBORUD_KLASS">{{"WARNING.WARNING-KOD-OBORUD" | translate}}</span>
  <span class="text-danger" *ngIf="isKlassNotEmpty && selectedNavBar === TableType.PODR">{{"WARNING.WARNING-PODR" | translate}}</span>
</div>

<div class="modal-footer ">
  <button type="button"
          class="btn btn-warning"
          *ngIf="dialogMode == DialogMode.CHANGE_ACTIVITY && this.newElement.akt == 1"
          (click)="onClickChangeAkt()">{{"BUTTON.MAKE-UNACTIVE" | translate}}</button>
  <button type="button"
          class="btn btn-success"
          *ngIf="dialogMode == DialogMode.CHANGE_ACTIVITY && this.newElement.akt == 0"
          (click)="onClickChangeAkt()">{{"BUTTON.MAKE-ACTIVE" | translate}}</button>
  <button type="button"
          class="btn btn-danger"
          *ngIf="dialogMode == DialogMode.DELETE && !isKlassNotEmpty"
          (click)="onClickDelete()">{{"BUTTON.DELETE" | translate}}</button>
  <button type="button"
          class="btn btn-secondary"
          ngbAutofocus
          (click)="onClickCloseModal()">{{"BUTTON.CANCEL" | translate}}</button>
</div>
