<!--<div class="page-wrapper bg-gra-02 font-poppins">-->
<!--  <div class="container wrapper wrapper&#45;&#45;w680">-->
<!--    <div class="card card-4">-->
<!--      <div class="card-body">-->
<!--        <h2 style="text-align: center" class="auth-title">{{"AUTH.ACCESS-DENIED" | translate}}</h2>-->

<!--          <h3 style="text-align: center">{{"AUTH.RESPONSE-DENIED" | translate}}</h3>-->

<!--          <spanstyle="text-align: center" class="kod401">401</span>-->

<!--        <p style="text-align: center; margin-top: 40px;">-->
<!--          <a routerLink="" class="routerLink">-->
<!--            {{"AUTH.ENTER-AGAIN" | translate}}</a>-->
<!--        </p>-->
<!--        <p style="text-align: center; margin-top: 40px;">-->
<!--          <a href="https://testbazis.avi.motor.loc:3333/user-main" class="routerLink">-->
<!--            {{"AUTH.ENTER-PLATFORM" | translate}}</a>-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="auth-modal-container">
  <div class="modal-header d-flex justify-content-center">
    <h2 class="fs-4 mt-3">{{"AUTH.ACCESS-DENIED" | translate}}</h2>
  </div>
  <div class="modal-body d-flex justify-content-center align-items-center flex-column gap-4">
    <h3 class="kod401warning">{{"AUTH.RESPONSE-DENIED" | translate}}</h3>
    <span class="kod401">403</span>
  </div>
  <div class="my-3 d-flex justify-content-evenly">
    <a routerLink="" class="routerLink">
      {{"AUTH.ENTER-AGAIN" | translate}}</a>

    <a href="https://testbazis.avi.motor.loc:3333/user-main" class="routerLink">
      {{"AUTH.ENTER-PLATFORM" | translate}}</a>
  </div>
</div>
