<div class="modal-header d-flex justify-content-center">
  <h2 class="m-0 text-center " *ngIf="dialogMode == DialogMode.CREATE">Создание экземпляра оборудования</h2>
  <h2 class="m-0 text-center " *ngIf="dialogMode == DialogMode.EDIT">Редактирование экземпляра оборудования</h2>
</div>

<form class="modal-body d-flex flex-column gap-1"
      [formGroup]="fgOborudEkzElement">
  <!--  ряд 1-->
  <div class="d-flex gap-2">
    <!--    ячейка 1 НАИМЕНОВАНИЕ-->
    <div class="flex-grow-1">
      <label for="naim" class="form-label">Наименование</label>
      <div class="input-group">
        <input class="form-control border-dark"
               id="naim"
               type="text"
               formControlName="naim"
               autocomplete="off"
               [required]="fcFieldIsRequired('naim', true)">
        <button class="btn btn-light border-dark"
                [disabled]="dialogMode === DialogMode.VIEW"
                (click)="fgOborudEkzElement.controls['naim'].setValue(null)">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="d-flex gap-2">
    <!--    ячейка 2 ПРОИЗВОДИТЕЛЬ-->
    <div class="flex-grow-1"
         ngbDropdown
         container="body"
         #ddmProizv="ngbDropdown"
    >
      <label for="proizv" class="form-label">Производитель</label>
      <div class="input-group">
        <input class="form-control border-dark"
               id="proizv"
               type="text"
               autocomplete="off"
               formControlName="proizv"
               ngbDropdownToggle
               [required]="fcFieldIsRequired('proizv', true)"
               (click)="ddmProizv.open()"
               (input)="ddmProizv.open()">
        <button class="btn btn-light border-dark"
                [disabled]="dialogMode === DialogMode.VIEW"
                (click)="fgOborudEkzElement.controls['proizv'].setValue(null); this.newProizv = null">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="px-3 ngb-menu-config" ngbDropdownMenu>
        <p *ngIf="proizvListDDM && proizvListDDM.length > 0">Выберите один из элем-ов:</p>
        <p *ngIf="proizvListDDM && proizvListDDM.length == 0">Ничего не найдено</p>
        <div class="dropdown-divider"></div>
        <div class="ddm-config">
          <h2 *ngIf="proizvListDDM && proizvListDDM.length == 0"
              ngbDropdownItem class="text-center">😔</h2>
          <button class="text-wrap"
                  *ngFor="let proizv of proizvListDDM"
                  (click)="onClickSelectDDIProizv(proizv)"
                  ngbDropdownItem>
            {{proizv.naim}}
          </button>
        </div>
      </div>
    </div>


    <div class="flex-grow-1">
      <label for="model" class="form-label">Модель</label>
      <div class="input-group">
        <input class="form-control border-dark"
               id="model"
               type="text"
               autocomplete="off"
               formControlName="model"
               [required]="fcFieldIsRequired('model', true)"
        >
        <button class="btn btn-light border-dark"
                [disabled]="dialogMode === DialogMode.VIEW"
                (click)="onClickAttachModel()">
          Присвоить модель
          <i class="ms-1 bi bi-share"></i>
        </button>
      </div>
    </div>
  </div>

  <!--  ряд 2-->
  <div class="d-flex gap-2">
    <!--    Индивидуальный номер -->
    <div class="flex-grow-1">
      <label for="invNom" class="form-label">Инвентарный номер</label>
      <div class="form-group input-group">
        <input class="form-control border-dark"
               id="invNom"
               type="text"
               autocomplete="off"
               formControlName="invNom"
               [required]="fcFieldIsRequired('invNom', true)">
        <button class="btn btn-light border-dark"
                [disabled]="dialogMode === DialogMode.VIEW"
                (click)="fgOborudEkzElement.controls['invNom'].setValue(null)">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
    <!--    подразделение-->
    <div class="flex-grow-1"
         ngbDropdown
         container="body"
         #ddmPodr="ngbDropdown">
      <label for="podr" class="form-label">Подразделение</label>
      <div class="form-group input-group">
        <input class="form-control border-dark"
               id="podr"
               type="text"
               autocomplete="off"
               formControlName="podr"
               ngbDropdownToggle
               [required]="fcFieldIsRequired('podr', true)"
               (click)="ddmPodr.open()"
               (input)="ddmPodr.open()">
        <button class="btn btn-light border-dark"
                [disabled]="dialogMode === DialogMode.VIEW"
                (click)="onClickSetNullPodr()">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="px-3 ngb-menu-config"
           ngbDropdownMenu>
        <p *ngIf="podrListDDM && podrListDDM.length > 0">Выберите один из элем-ов:</p>
        <p *ngIf="podrListDDM && podrListDDM.length == 0">Ничего не найдено</p>
        <div class="dropdown-divider"></div>
        <div class="ddm-config">
          <h2 *ngIf="podrListDDM && podrListDDM.length == 0"
              ngbDropdownItem class="text-center">😟</h2>
          <button class="text-wrap"
                  *ngFor="let podr of podrListDDM"
                  (click)="onClickSelectDDIPodr(podr)"
                  ngbDropdownItem>
            {{podr.obozn}}
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="d-flex gap-2">
    <!--    часть 2 ячейка 1 серийный номер-->
    <div class="flex-grow-1">
      <label for="serNom" class="form-label">Серийный номер</label>
      <div class="form-group input-group">
        <input class="form-control border-dark"
               id="serNom"
               type="text"
               autocomplete="off"
               formControlName="serNom"
               [required]="fcFieldIsRequired('serNom', true)">
        <button class="btn btn-light border-dark"
                [disabled]="dialogMode === DialogMode.VIEW"
                (click)="fgOborudEkzElement.controls['serNom'].setValue(null)">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
    <!--    часть 2 ячейка 2 УЧАСТОК-->
    <div class="flex-grow-1"
         ngbDropdown
         container="body"
         #ddmUch=ngbDropdown>
      <label for="uch" class="form-label">Участок</label>
      <div class="form-group input-group">
        <input class="form-control border-dark"
               id="uch"
               type="text"
               formControlName="uch"
               autocomplete="off"
               ngbDropdownToggle
               [required]="fcFieldIsRequired('uch', true)"
               (click)="ddmUch.open()"
               (input)="ddmUch.open()"
        >
        <button class="btn btn-light border-dark"
                [disabled]="dialogMode === DialogMode.VIEW"
                (click)="fgOborudEkzElement.controls['uch'].setValue(null); this.newUch = null">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="px-3 ngb-menu-config"
           ngbDropdownMenu>
        <p *ngIf="uchListDDM && uchListDDM.length > 0">Выберите один из элем-ов:</p>
        <p *ngIf="uchListDDM && uchListDDM.length == 0">Ничего не найдено</p>
        <div class="dropdown-divider"></div>
        <div class="ddm-config">
          <h2 *ngIf="uchListDDM && uchListDDM.length == 0"
            ngbDropdownItem
              class="text-center"
          >😟</h2>
          <button class="text-wrap"
                  *ngFor="let uch of uchListDDM"
                  (click)="onClickSelectDDIUch(uch)"
                  ngbDropdownItem>
            {{uch.obozn}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div  class="d-flex gap-2">
    <div class="flex-grow-1">
      <label for="prim" class="form-label">Примечание</label>
      <div class="form-group input-group">
      <textarea class="form-control txtarea-c"
                id="prim"
                type="text"
                formControlName="prim"
                autocomplete="off"
                maxlength="249"
                [required]="fcFieldIsRequired('prim', true)"
                rows="3"
      >
      </textarea>
        <button class="btn btn-light border-dark"
                [disabled]="dialogMode === DialogMode.VIEW"
                (click)="fgOborudEkzElement.controls['prim'].setValue(null)">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
    </div>
  </div>
</form>

<div class="modal-footer justify-content-between">
    <div class="d-flex flex-column">
      <span class="text-wrap text-danger">*Для заполнения карточки ОБЯЗАТЕЛЕН</span>
      <span class="text-wrap text-danger">ЛИБО серийный, ЛИБО инвентарный номер</span>
    </div>
    <div class="d-flex gap-2">
      <button type="button" class="btn btn-primary"
              (click)="onClickCreateOborudEkz()"
              [hidden]="dialogMode != DialogMode.CREATE"
              [disabled]="fgOborudEkzElement.invalid">Создать</button>
      <button type="button" class="btn btn-primary"
              (click)="onClickUpdateOborudEkz()"
              [hidden]="dialogMode != DialogMode.EDIT"
              [disabled]="fgOborudEkzElement.invalid">Редактировать</button>
      <button type="button" class="btn btn-secondary"
              ngbAutofocus
              (click)="onClickCloseModal()">{{"BUTTON.CANCEL" | translate}}</button>
    </div>

</div>
