<div class="modal-header d-flex justify-content-center">
  <h1 class="m-0 text-center">{{dialogTitle}}</h1>
</div>

<div class="modal-body d-flex flex-column align-items-center">
  <p class="fs-6 text-break">{{dialogMessage}}</p>
</div>

<div class="modal-footer justify-content-end" [class.justify-content-between]="buttonConfirm">
  <button *ngIf="buttonConfirm"
          type="button"
          class="btn btn-primary"
          (click)="onClickConfirm()">{{"BUTTON.ACCEPT" | translate}}</button>
  <button type="button"
          class="btn btn-secondary"
          (click)="onClickCancel()">{{"BUTTON.CLOSE" | translate}}</button>
</div>
