<app-garland [currentHoliday]="currentHoliday"></app-garland>
<div class="d-flex col-4 px-1"></div>
<div class="d-flex col-4 px-1 justify-content-center align-items-center">
  <h2 class="my-3">{{'COMMON.NAME-PROGRAMM' | translate}}</h2>
  <h4 class="text-black version">{{DEFAULT_APP_VERSION}}</h4>
</div>
<div class="d-flex col-4 px-1 justify-content-end align-items-center">
  <div class="d-inline-block px-2" ngbDropdown
  >
    <span class="disable-highlight-text fs-6 hover-header-config text-black text-capitalize"
          ngbTooltip="{{'HINT.HEADER-ROLE'| translate }}"
          [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"
          [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP"
          placement="bottom"
          type="button"
          ngbDropdownToggle>
      <i class="bi bi-person-square text-black"></i>
      {{currentUser?.firstName}} {{currentUser?.lastName}}
    </span>
    <div class="p-2 ddm-action-config" ngbDropdownMenu>
      <div class="mb-2 p-0 text-center">
        <label class="pb-1" for="roleSelect">{{'COMMON.CURRENT-ROLE'| translate }}: </label>
        <select class="form-select form-select-sm"
                id="roleSelect"
                (change)="onClickSelectRole($event)">
          <option *ngFor="let role of currentAppRoleList"
                  [selected]="role === currentRole"
                  value="{{role.name}}">{{getRoleViewName(role)}}</option>
        </select>
      </div>
      <button type="button"
              ngbDropdownItem>
        <i class="bi bi-box-arrow-right"
           (click)="onClickChangeUserOrLogout()"></i> {{'COMMON.CHANGE-USER'| translate }}</button>
    </div>
  </div>
  <div class="d-inline-block px-2 me-3 position-relative" ngbDropdown>
    <i class="bi bi-gear i-config align-self-center m-0"
       ngbTooltip="{{'HINT.HEADER-SETTINGS'| translate }}"
       [openDelay]="DELAY_TIME_OPEN_FOR_TOOLTIP"
       [closeDelay]="DELAY_TIME_CLOSE_FOR_TOOLTIP"
       type="button"
       ngbDropdownToggle>
      <img *ngIf="showNewsAttention"
           class="news-attention-config"
           src="assets/images/attention-fill.gif" alt="no logo"
           height="16" width="16">
    </i>
    <div class="p-2 ddm-action-config"
         ngbDropdownMenu>
      <button class="btn px-1 position-relative "
              type="button"
              role="option"
              ngbDropdownItem
              (click)="onClickOpenNewsDialog()"
      >
        <i class="bi bi-newspaper"></i>
        {{'BUTTON.NEWS'| translate }}
        <img *ngIf="showNewsAttention"
             class="news-attention-config"
             src="assets/images/attention-fill.gif" alt="no logo"
             height="16" width="16">
      </button>
      <button class="btn  px-1 "
              type="button"
              role="option"
              ngbDropdownItem
              (click)="onClickOpenSettingsDialog()"
      >
        <i class="bi bi-gear"></i>
        {{'BUTTON.SETTINGS'| translate }}
      </button>
      <button class="btn  px-1"
              type="button"
              role="option"
              ngbDropdownItem
              [disabled]="false"
              (click)="onClickOpenInstruction()"
      >
        <i class="bi bi-file-earmark-pdf-fill"></i>
        {{'BUTTON.INSTRUCTION'| translate }}
      </button>
      <button class="btn  px-1"
              type="button"
              role="option"
              ngbDropdownItem
              [disabled]="false"
              (click)="onClickChangeUserOrLogout()"
      >
        <i class="bi bi-box-arrow-right"></i>
        {{'BUTTON.EXIT'| translate }}
      </button>
    </div>
  </div>
</div>
