.version{
  font-size: 12px;
}
h2{
  color: rgba(0, 0, 0, 0.82)
}
.i-config{
  font-size: 1.5rem !important;
  transition: all 210ms ease;
  color: #00245e;
}
.i-config:hover{
  cursor: pointer;
  color: #0f69c9;
}
.bi-gear:hover::before {content: "\f3e2";}

.ddm-action-config {
  z-index: 1111;
}

.disable-highlight-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.news-attention-config {
  position: absolute;
  top: 0 !important;
  right: 0 !important;
}
