/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root{
  --color-white: #f2f1ed;
  --color-light-blue: #C4D2EC;
  --color-blue: #5C83BA;
  --color-dark-blue: #3B4E79;
  --color-black: #0B1D35;
}
.mat-mdc-tab .mdc-tab__text-label {
  font-size: 1.1rem !important;
}

.pointer{
  cursor: pointer;
}

.form-label{
  margin-bottom: 4px !important;
}
/*.modal-body{*/
/*  background-color: rgb(247, 247, 247);*/
/*}*/
.modal-footer{
  background-color: rgb(208, 221, 234);
}
/*.modal-header{*/
/*  background-color: rgb(179, 226, 221);*/
/*}*/

.ng-invalid[required], .ng-invalid.required {
  border-left: 4px solid #c9503e !important;
}
.ng-valid[required], .ng-valid.required, select.required:disabled, select[required]:disabled {
  border-left: 4px solid #30cba7 !important;
}

.modal-settings-config{
  max-width: 1200px !important;
}
