.div-for-title-bg-joined{
  background-color: #aeffb7;
}
.div-for-title-bg-all{
  background-color: #a2bcea;
}
.div-for-title{
  height: 40px;
  font-weight: 500;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gruppa-upper-div-c{
  display: flex;
  height: 200px;
  flex-direction: column;
  flex-grow: 1;
  /*flex-basis: 300px;*/
}
.gruppa-lower-div-c{
  display: flex;
  height: 500px;
  flex-direction: column;
  flex-grow: 1;
  /*flex-basis: 400px;*/
}
